{%- style -%}
  #customButtonDesign, #customButtonTemplate {
    padding: {{ block.settings.btn_padding }}px;
    color:{{block.settings.color}}; 
    background-color:{{ block.settings.bgcolor }};
    font-size: {{ block.settings.font_size }}px;
  }

  #fullPagePopup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    display: none;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

{%- endstyle -%}


{% assign product_id = product.id %}

{% if product.metafields.design.design == true %}
  <button id="customButtonDesign" data-product-id="{{ product.id }}">{{ block.settings.designbtnlabel }}</button>
  <div id="productInfo"></div> <!-- Container to display product info -->
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var button = document.getElementById('customButtonDesign');
    var productId = button.getAttribute('data-product-id');

    button.addEventListener('click', function() {
        fetch(`http://localhost:4000/api/product/${productId}`)
            .then(response => response.json())
            .then(data => {
                var productInfoDiv = document.getElementById('productInfo');
                productInfoDiv.innerHTML = '<p>' + JSON.stringify(data) + '</p>';
            })
            .catch(error => console.error('Error fetching product:', error));
    });
});
</script>


{% if product.metafields.template.template == true %}
  <button id="customButtonTemplate" data-product-id="{{ product_id }}">{{ block.settings.templatebtnlabel }}</button>
{% endif %}




{% schema %}
{
  "name": "Button",
  "target": "section",
  "settings": [
            {
            "type": "text", 
            "id":"designbtnlabel",
            "label": "Button Label", 
            "default": "Design"
            },
        {
            "type": "text",
            "id":"templatebtnlabel",
            "label": "Button Label",
            "default": "Template"
               },
         { 
            "type": "color", 
            "id": "bgcolor", 
            "label": "Button Background Color",
            "default": "#000000" 
             },
         { 
            "type": "color",
            "id": "color",
            "label": "Button Text Color",
            "default": "#ffffff" 
             },
             {
            "type": "range",
            "id": "font_size",
            "min": 0,
            "max": 40,
            "step": 4,
            "unit": "px",
            "label": "Font Size",
            "default": 20
        },
         {
            "type": "range",
            "id": "btn_padding",
            "min": 0,
            "max": 40,
            "step": 4,
            "unit": "px",
            "label": "Button Padding",
            "default": 20
        }
  ]
}
{% endschema %}
